<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contexto - MetroMarket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contexto.css') }}">
</head>
<body>
    <div class="context-container">
        <img src="{{ url_for('static', filename='images/contexto-img.png') }}" alt="Estudiante" class="student-image">
        <div class="context-text">
            <h1>Contexto</h1>
            <p>Se creó el videojuego <span class="highlight">MetroMarket</span> dirigido a estudiantes de <span class="highlight">5º grado</span>, con el objetivo de abordar los temas curriculares de diversos niveles educativos. <span class="highlight">MetroMarket</span> presenta distintos niveles de dificultad, los cuales están alineados con los contenidos de cada grado escolar establecidos por la Secretaría de Educación Pública (<span class="highlight">SEP</span>).</p>
        </div>
    </div>
</body>
</html>
