{% extends 'navbar.html' %}

{% block title %}Escuela Metropolitana - Inicio{% endblock %}

{% block content %}
<div class="container-fluid bg-light p-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6 text-start">
            <h1>Escuela Metropolitana</h1>
            <p>Fundada en 1934, esta institución se encuentra entre las 100 mejores primarias de la Ciudad de México. Además, ha obtenido el primer lugar de la zona en la Olimpiada de Conocimiento Infantil, destacando su excelencia académica y compromiso con la educación.</p>
            <a href="/LoginEstudiantes" class="btn btn-success m-1" role="button">Estudiante</a>
            <a href="/LoginProfesores" class="btn btn-primary m-1" role="button">Profesor</a>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/estudiante-home.png') }}" alt="Estudiante" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
{% endblock %}
